[Desktop Entry]
Version=1.0
Type=Application
Name=DaVinci Resolve
GenericName=DaVinci Resolve
Comment=Revolutionary new tools for editing, visual effects, color correction and professional audio post production, all in a single application!
Path=/opt/resolve/
# Modified to call fish -> functions -> davinci-resolve.fish
Exec=fish -c 'davinci-resolve'
# Exec=env QT_QPA_PLATFORM=xcb /opt/resolve/bin/resolve %u
Terminal=false
MimeType=application/x-resolveproj;
Icon=davinci-resolve.png
StartupNotify=true
Name[en_US]=DaVinci Resolve
StartupWMClass=resolve
