**/*/*.log
**/*/*.sock

herdr-client.log
herdr-server.log

herdr-client.sock
herdr.sock

session.json

sessions
sessions/
sessions/*
sessions/**
sessions/**/*
sessions/**/**/*


# .plugins.lock
# /.plugins.lock
# ./.plugins.lock
