#
#
alias l='ls -lah --color=auto'
alias ls='ls -lh --color=auto'

alias cls='clear'
#alias .b='source ~/.bashrc'
#alias basc='vim ~/.bashrc'

#alias bat='/usr/bin/batcat'

alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# Cargo Aliases
alias cb='cargo build'
alias cbr='cargo build --release'
alias cr='cargo run'
alias crq='cargo run -q'
alias crr='cargo run --release'
alias ct='cargo test'
alias cc='cargo check'
alias ccl='cargo clean'
alias cu='cargo update'
alias cdoc='cargo doc'
alias cup='cargo upgrade'




# Misc things

alias neo='neofetch'
alias dea='deactivate'


export GCC_COLOR='eror=01;31:warning=01;35:note=01;36:caret=01;32:locus=01:quote=01'

