#!/bin/bash
#
# Geberal/Bash Aliases
alias l='ls -lah --color=auto'
alias ls='ls -lh --color=auto'

alias ppath='echo $PATH'
alias nf='neofetch'

alias cls='clear'
alias ca='cls && l'
#alias bat='/usr/bin/batcat'

alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# Pacman aliases
alias pac='sudo pacman'
alias pacup='sudo pacman -Syu'
alias pacs='sudo pacman -S'
alias pacss='pacman -Ss'

# yay aliases
alias yayup='yay -Syu'
alias yays='yay -S'
alias yayss='yay -Ss'

alias sysup="sudo pacman -Syu && yay -Syu"

# Cargo Aliases
alias cb='cargo build'
alias cbr='cargo build --release'

alias cr='cargo run'
alias crq='cargo run -q'
alias crr='cargo run --release'
alias ct='cargo test'
alias cc='cargo check'
alias ccl='cargo clean'
alias cu='cargo update'
alias cdoc='cargo doc'
alias cup='cargo upgrade'

if [ "$WIN_AVAILABLE" ]; then
    # rust / cargo related
	alias cbw='cargo build --target x86_64-pc-windows-gnu'
	alias cbrw='cargo build --release --target x86_64-pc-windows-gnu'
	alias crw='cargo run --target x86_64-pc-windows-gnu'
	alias crqw='cargo run -q --target x86_64-pc-windows-gnu'
	alias crrw='cargo run --release --target x86_64-pc-windows-gnu'

	alias cba='cargo build --target x86_64-pc-windows-gnu && cargo build --target x86_64-unknown-linux-gnu'
	alias cbra='cargo build --release --target x86_64-pc-windows-gnu && cargo build --release --target x86_64-unknown-linux-gnu'
	alias cble='cba && cbra'
    # vs code

fi

alias wy="win32yank.exe"
alias wyi="win32yank.exe -i"
alias wyo="win32yank.exe -o"


alias cd2='cd ../..'
alias cd3='cd ../../..'

# Zellij

alias zel='zellij --session $(tr -dc a-z0-9 </dev/urandom | head -c 3 ; echo "")'
alias zela='zellij a'

# Misc things

alias neo='neofetch'
alias dea='deactivate'

export GCC_COLOR='eror=01;31:warning=01;35:note=01;36:caret=01;32:locus=01:quote=01'

alias lzgt='lazygit'

