# This file is written in HOCON (Human-Optimized Config Object Notation) format.
# For more information about HOCON see https://github.com/lightbend/config/blob/master/HOCON.md
# For IntelliJ IDEA leader maps using Ataman: https://github.com/Mishkun/ataman-intellij

bindings {
	"," { actionId: ReloadAtamanConfigAction, description: Reload Ataman Config }
	"." { actionId: IdeaVim.ReloadVimRc.reload, description: Reload VimRc }
	"`" { actionId: ToggleBookmarkWithMnemonic, description: Toggle Bookmark }
	b {
		description: Buffer/Tabs Navigation...
		bindings {
			n { actionId: NextTab, description: Next Tab }
			p { actionId: PreviousTab, description: Previous Tab }
			r { actionId: RecentFiles, description: Recent Files }
			R { actionId: RecentChangedFiles, description: Recent Changed Files }
			i { actionId: PinActiveEditorTab, description: Pin Tab }
			c { actionId: CloseEditor, description: Close tab }
			h { actionId: HideAllWindows, description: Hide All Windows }
		}
	}
C { actionId: Cargo.RunCargoCommand, description: Cargo __ }
d {
	description: Debug...
	bindings {
		b { actionId: ToggleLineBreakpoint, description: Toggle Breakpoint }
		r { actionId: Debug, description: Run }
		R { actionId: Rerun, description: ReRun }
		s { actionId: Stop, description: Stop }
		c { actionId: Resume, description: Continue }
		w { actionId: ActivateDebugToolWindow, description: Focus Debug }
		o { actionId: StepOver, description: Over }
		i { actionId: StepInto, description: Into }
		O { actionId: StepOut, description: Out }
		; { actionId: RunToCursor, description: Run To Cursor }
		l { actionId: ViewBreakpoints, description: Open Breakpoint }
		e { actionId: EvaluateExpression, description: Evaluate }
		L { actionId: DebugViewBreakpoints, description: View/List Breakpoints }
		e { actionId: DebugEvaluateExpression, description: Evaluate }
		r { actionId: RunClass, description: Run Class }
		}
	}
e { actionId: ActivateProjectToolWindow, description: Explorer }
f {
	description: Find...
	bindings {
		f { actionId: GotoFile, description: Find Files }
	    u { actionId: FindUsages, description: Find Usages }
	    w { actionId: FindInPath, description: Find Word }
	    r { actionId: RecentFiles, description: Recent Files }
	    R { actionId: RecentChangedFiles, description: Recent Changed Files }
	    l { actionId: RecentLocations, description: Recent Locations }
	    b { actionId: RecentFiles, description: Recent Files }
	    p { actionId: ActivateProblemsViewToolWindow, description: Find Problems }
	    t { actionId: ActivateTODOToolWindow, description: Find TODO }
	    / { actionId: Find, description: Find in buffer }
	    i { actionId: QuickImplementations, description: Quick Implementations }
	    o { actionId: Console.Jdbc.ChooseDataSource, description: Choose DataSource }
	    }
	}
g {
	description: Git...
	bindings {
		g { actionId: Vcs.Operations.Popup, description: Git menu }
	    s { actionId: ActivateCommitToolWindow, description: Staging }
	    w { actionId: ActivateCommitToolWindow, description: Focus Window }
	    c { actionId: ActivateCommitToolWindow, description: Commit }
	    S { actionId: Git.Commit.Stage, description: Stage }
	    s { actionId: NavBarVcsGroup, description: VCS Operations }
	    p { actionId: Vcs.Push, description: Push }
	    S { actionId: Vcs.Stage, description: Stage }
	    d { actionId: Compare.SameVersion, description: Diff }
	    b { actionId: Git.Branches, description: Branches }
	    f { actionId: Git.Fetch, description: Fetch }
	    U { actionId: ChangesView.Revert, description: Undo }
	    P { actionId: Git.Push, description: Push }
	    p { actionId: Git.Pull, description: Pull }
	    }
	}
h {
	description: Hunks...
	bindings {
		p { actionId: VcsShowCurrentChangeMarker, description: Preview current Hunk }
		d { actionId: Diff.ShowDiff, description: Diff }
        r { actionId: Vcs.RollbackChangedLines, description: Reset Hunk }
		}
	}
l {
	description: LSP...
	bindings {
		a { actionId: ShowIntentionActions, description: Action }
		r { actionId: RenameElement, description: Rename }
		R { actionId: Refactorings.QuickListPopupAction, description: Refactor }
		h { actionId: ShowErrorDescription, description: Hover }
		d { actionId: ActivateProblemsViewToolWindow, description: Diagnostics }
		a { actionId: ShowIntentionActions, description: Action }
		i { actionId: QuickImplementations, description: Implementations }
		f { actionId: ReformatCode, description: Format }
		}
	}
m { actionId: ShowBookmarks, description: Show Bookmarks }
n {
	description: New...
	bindings {
		s { actionId: NewScratchFile, description: New Scratch File }
		e { actionId: NewElementSamePlace, description: New Element }
		}
	}
o { actionId: Console.Jdbc.ChooseDataSource, description: Choose DataSource }
s {
	description: SQL...
	bindings {
		w { actionId: ActivateDatabaseToolWindow, description: Focus SQL Database }
		}
	}
t {
	description: Toggles...
	bindings {
		i { actionId: ToggleInlayHintsGloballyAction, description: Toggle Inlay Hints }
		y { actionId: CollapseDocComments, description: Collapse Doc Comments }
		M { actionId: ToggleRenderedDocPresentation, description: Toggle Rendered Doc Presentation }
		m { actionId: ToggleRenderedDocPresentationForAll, description: Toggle Rendered Doc Presentation For All }
		t { actionId: ActivateTerminalToolWindow, description: Terminal }
		D { actionId: ActivateDebugToolWindow, description: Debug }
		b { actionId: [HideAllWindows, FocusEditor], description: Hide Bar }
		d { actionId: Diff.FocusOppositePane, description: Diff Focus Opposite Pane }
		}
	}
x { actionId: CloseEditor, description: Close tab }
}
