LazyVim/lazy-lock.json
.idea
.idea/
.idea/*

z.old
z.old/
z.old/*

.z.old
.z.old/
.z.old/*

lazy-lock.json

main_nvim/*
!main_nvim/nvim*
!main_nvim/nvim/*
#!main_nvim/nvim/lazy-lock.json

nvim_distros/*
!nvim_distros/LazyVim/*
!nvim_distros/old.nvims/*
!nvim_distros/TestVim/*
!nvim_distros/omerxx/
