[user]
	name = MrDwarf7
	email = 129040985+MrDwarf7@users.noreply.github.com
[init]
	defaultBranch = main
[core]
	editor = code --wait
	excludesFile = "$HOME/.gitignore_global"
[alias]
	last = log -1 HEAD
	wt-bare = !sh $HOME/dotfiles/git-clone-worktrees.sh
	wta = worktree add
	wtl = worktree list
	wtr = worktree remove
	wtm = worktree move
	s- = switch -
	fa = fetch --all
[push]
	autoSetupRemote = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
