[user]
	name = MrDwarf7
	email = 129040985+MrDwarf7@users.noreply.github.com
[init]
	defaultBranch = main
[core]
	editor = nvim
	excludesFile = "$HOME/.gitignore_global"
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential]
	helper = store
	helper = 
	helper = /usr/bin/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
[alias]
	last = log -1 HEAD
	wt-bare = !sh $HOME/dotfiles/git-clone-worktrees.sh
	wta = worktree add
	wtl = worktree list
	wtr = worktree remove
	wtm = worktree move
	s- = switch -
	fa = fetch --all
	pla = pull --all
	pa = push --all
	rs = restore --staged
	cm = commit -m
	rlast = reflog -5 HEAD
[push]
    autoSetupRemote = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

