[user]
    email = 129040985+MrDwarf7@users.noreply.github.com
    name = MrDwarf7
[init]
    defaultBranch = main
[core]
    editor = nvim
    excludesFile = "$HOME/.gitignore_global"
    pager = delta
[interactive]
    singleKey = true
    diffFilter = delta --color-only
[delta]
    navigate = true
    dark = true
    ; light = true
    line-numbers = true
    ; side-by-side = true
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
[alias]
    last = log -1 HEAD
    wt-bare = !sh $HOME/dotfiles/git-clone-worktrees.sh
    wta = worktree add
    wtl = worktree list
    wtr = worktree remove
    wtm = worktree move
    s- = switch -
    fa = fetch --all
    pla = pull --all
    pa = push --all
    rs = restore --staged
    cm = commit -m
    rlast = reflog -5 HEAD
    sut = branch --set-upstream-to
    undo = reset --soft HEAD~1
    undoh = reset --hard HEAD~1
    unst = restore --staged
    uncm = reset --soft HEAD~1
[push]
    autoSetupRemote = true
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[credential]
    helper = /mnt/c/Applications/Git/mingw64/bin/git-credential-manager.exe


; THESE PATHS CANNOT BE INTERPOLATED
[credential "https://github.com"]
    helper = !'gh\\current\\bin\\gh.exe' auth git-credential
[credential "https://gist.github.com"]
    helper = !'gh\\current\\bin\\gh.exe' auth git-credential
[safe]
    directory = *
    directory = E:/Github*/**/*
