!.gitignore
!mise.fish

acpid.fish
acpi.fish
adb.fish
age.fish
agg.fish
alsamixer.fish
ant.fish
aplay.fish
apropos.fish
apt-cache.fish
apt-get.fish
arecord.fish
ar.fish
artisan.fish
asciinema.fish
autoconf.fish
avdmanager.fish
awk.fish
aws.fish
az.fish
baobab.fish
basename.fish
bash.fish
bash-language-server.fish
batdiff.fish
bat.fish
batgrep.fish
batman.fish
bats.fish
bc.fish
benthos.fish
black.fish
bluetoothctl.fish
boundary.fish
brew.fish
brotli.fish
bru.fish
bun.fish
bunx.fish
calibre.fish
capslock.fish
carapace.fish
cargo-clippy.fish
cargo.fish
cargo-fmt.fish
cargo-metadata.fish
cargo-rm.fish
cargo-set-version.fish
cargo-upgrade.fish
cargo-watch.fish
cat.fish
cfdisk.fish
charm.fish
cheese.fish
chgrp.fish
chmod.fish
chown.fish
chpasswd.fish
chroma.fish
chromium.fish
chroot.fish
chsh.fish
circleci.fish
cksum.fish
clamav-config.fish
clamav-milter.fish
clambc.fish
clamconf.fish
clamd.fish
clamdscan.fish
clamdtop.fish
clamonacc.fish
clamscan.fish
clamsubmit.fish
cmus.fish
codecov.fish
code.fish
code-insiders.fish
comm.fish
conda-content-trust.fish
conda-env.fish
conda.fish
conky.fish
consul.fish
coredumpctl.fish
cp.fish
csplit.fish
csview.fish
cura.fish
curl.fish
cut.fish
dagger.fish
darktable-cli.fish
darktable.fish
dart.fish
date.fish
dbt.fish
dc.fish
dd.fish
deadcode.fish
delta.fish
deno.fish
devbox.fish
dfc.fish
df.fish
dict.fish
diff3.fish
diff.fish
dig.fish
dircolors.fish
direnv.fish
dir.fish
dirname.fish
dive.fish
dlv.fish
dmenu.fish
dmesg.fish
dms.fish
dnsmasq.fish
doas.fish
docker-buildx.fish
docker-compose.fish
dockerd.fish
docker.fish
docker-scan.fish
doctl.fish
doing.fish
dos2unix.fish
downgrade.fish
dpkg.fish
du.fish
ebook-convert.fish
egrep.fish
electron.fish
elvish.fish
env.fish
envsubst.fish
exa.fish
expand.fish
expr.fish
eza.fish
faas-cli.fish
factor.fish
fakechroot.fish
fakeroot.fish
fastfetch.fish
fc-cache.fish
fc-cat.fish
fc-conflist.fish
fc-list.fish
fd.fish
fdisk.fish
ffmpeg.fish
fgrep.fish
file.fish
find.fish
firefox.fish
fish.fish
flatpak.fish
flutter.fish
fmt.fish
fold.fish
foot.fish
freeze.fish
ftpd.fish
ftp.fish
fury.fish
fzf.fish
gatsby.fish
gcloud.fish
gdb.fish
gdu.fish
get-env.fish
gftp.fish
gh-copilot.fish
gh-dash.fish
gh.fish
gimp.fish
git-abort.fish
git-alias.fish
git-archive-file.fish
git-authors.fish
git-browse-ci.fish
git-browse.fish
git-clang-format.fish
git-clear.fish
git-clear-soft.fish
git-coauthor.fish
git-extras.fish
git.fish
git-info.fish
gitk.fish
git-standup.fish
gitui.fish
glab.fish
glow.fish
gnome-keyring-daemon.fish
gnome-keyring.fish
gnome-maps.fish
gnome-terminal.fish
go-carpet.fish
gocyclo.fish
go.fish
gofmt.fish
goimports.fish
golangci-lint.fish
gonew.fish
google-chrome.fish
gopls.fish
goreleaser.fish
go-tool-asm.fish
go-tool-buildid.fish
go-tool-cgo.fish
go-tool-compile.fish
go-tool-covdata.fish
go-tool-cover.fish
go-tool-dist.fish
go-tool-doc.fish
go-tool-fix.fish
go-tool-link.fish
go-tool-nm.fish
go-tool-objdump.fish
go-tool-pack.fish
goweight.fish
gparted.fish
gpasswd.fish
gpg-agent.fish
gpg.fish
gradle.fish
grep.fish
groupadd.fish
groupdel.fish
groupmems.fish
groupmod.fish
groups.fish
grype.fish
gulp.fish
gum.fish
gunzip.fish
gzip.fish
halt.fish
head.fish
helix.fish
helm.fish
helmsman.fish
hexchat.fish
hexdump.fish
hostid.fish
hostname.fish
htop.fish
http.fish
https.fish
hugo.fish
hwinfo.fish
hx.fish
i3exit.fish
i3.fish
i3lock.fish
i3-scrot.fish
i3status.fish
i3status-rs.fish
id.fish
imv.fish
inkscape.fish
inshellisense.fish
install.fish
ion.fish
jar.fish
javac.fish
java.fish
jj.fish
join.fish
journalctl.fish
jq.fish
julia.fish
just.fish
kak.fish
kak-lsp.fish
killall.fish
kill.fish
kmonad.fish
kompose.fish
kotlinc.fish
kotlin.fish
ktlint.fish
kubeadm.fish
kubectl.fish
lastb.fish
last.fish
lastlog.fish
lazygit.fish
lf.fish
lightdm.fish
light.fish
link.fish
lnav.fish
lncrawl.fish
ln.fish
localectl.fish
locale.fish
logname.fish
lsblk.fish
lsb_release.fish
lscpu.fish
ls.fish
lslocks.fish
lslogins.fish
lsmem.fish
lsns.fish
lsusb.fish
lua.fish
lzcat.fish
lzma.fish
make.fish
makepkg.fish
man.fish
marp.fish
mcomix.fish
md5sum.fish
mdbook.fish
meld.fish
melt.fish
micro.fish
minikube.fish
mitmproxy.fish
mkcert.fish
mkdir.fish
mkfifo.fish
mkfs.fish
mknod.fish
mkswap.fish
mktemp.fish
modinfo.fish
modprobe.fish
molecule.fish
more.fish
mosh.fish
mount.fish
mousepad.fish
mpv.fish
mv.fish
mvn.fish
nano.fish
ncdu.fish
nc.fish
neomutt.fish
netcat.fish
newman.fish
newrelic.fish
nfpm.fish
ng.fish
nice.fish
nilaway.fish
nix-build.fish
nix-channel.fish
nix.fish
nix-instantiate.fish
nixos-rebuild.fish
nix-shell.fish
nl.fish
nmcli.fish
node.fish
nohup.fish
nomad.fish
npm.fish
ntpd.fish
nu.fish
nvim.fish
od.fish
ollama.fish
openscad.fish
optipng.fish
packer.fish
pacman-conf.fish
pacman-db-upgrade.fish
pacman.fish
pacman-key.fish
pacman-mirrors.fish
palemoon.fish
pamac.fish
pandoc.fish
paru.fish
pass.fish
passwd.fish
paste.fish
patch.fish
pathchk.fish
pcmanfm.fish
pgrep.fish
php.fish
picard.fish
pigz.fish
ping.fish
pinky.fish
pip.fish
pkg.fish
pkgsite.fish
pkill.fish
pnpm.fish
podman.fish
poweroff.fish
powertop.fish
pprof.fish
present.fish
prettybat.fish
prettyping.fish
pr.fish
printenv.fish
ps.fish
ptx.fish
pulumi.fish
pwait.fish
pwd.fish
python.fish
qmk.fish
qrencode.fish
qutebrowser.fish
ranger.fish
readlink.fish
reboot.fish
redis-cli.fish
restic.fish
resume-cli.fish
rg.fish
rifle.fish
rmdir.fish
rm.fish
rmmod.fish
rsync.fish
rust-analyzer.fish
rustc.fish
rustdoc.fish
rustup.fish
scp.fish
scrot.fish
sdkmanager.fish
sed.fish
semver.fish
seq.fish
set-env.fish
sftp.fish
sha1sum.fish
sha256sum.fish
showkey.fish
shred.fish
shutdown.fish
sleep.fish
slides.fish
soft.fish
sort.fish
speedtest-cli.fish
split.fish
ssh-agent.fish
ssh-copy-id.fish
ssh.fish
ssh-keygen.fish
starship.fish
stat.fish
staticcheck.fish
st.fish
strings.fish
stty.fish
sudoedit.fish
sudo.fish
sudoreplay.fish
su.fish
sulogin.fish
sum.fish
supervisorctl.fish
supervisord.fish
svgcleaner.fish
svg-term.fish
swaybar.fish
swaybg.fish
sway.fish
swayidle.fish
swaylock.fish
swaymsg.fish
swaynag.fish
syft.fish
sync.fish
sysctl.fish
systemctl.fish
tac.fish
tail.fish
tar.fish
task.fish
tea.fish
tealdeer.fish
tee.fish
telnet.fish
templ.fish
termux-apt-repo.fish
terraform.fish
terraform-ls.fish
terragrunt.fish
terramate.fish
tesseract.fish
tig.fish
tinygo.fish
tldr.fish
tmate.fish
tmux.fish
tofu.fish
toit.lsp.fish
toit.pkg.fish
top.fish
tor-browser.fish
tor-gencert.fish
tor-print-ed-signing-cert.fish
tor-resolve.fish
torsocks.fish
touch.fish
tox.fish
traefik.fish
transmission-cli.fish
transmission-create.fish
transmission-daemon.fish
transmission-edit.fish
transmission-remote.fish
transmission-show.fish
tree.fish
tr.fish
truncate.fish
tsc.fish
ts.fish
tshark.fish
tsh.fish
tsort.fish
ttyd.fish
tty.fish
turbo.fish
umount.fish
uname.fish
unbrotli.fish
unexpand.fish
uniq.fish
unlink.fish
unlzma.fish
unpigz.fish
unset-env.fish
unxz.fish
unzip.fish
upower.fish
uptime.fish
upx.fish
useradd.fish
userdel.fish
usermod.fish
users.fish
vagrant.fish
vault.fish
vdir.fish
vercel.fish
vhs.fish
viewnior.fish
vi.fish
visudo.fish
viu.fish
vivid.fish
vlc.fish
volta.fish
watchexec.fish
watch.fish
watchgnupg.fish
waypoint.fish
wc.fish
wezterm.fish
w.fish
wget.fish
whereis.fish
which.fish
whoami.fish
who.fish
wineboot.fish
wine.fish
winepath.fish
wineserver.fish
winetricks.fish
wire.fish
wireshark.fish
wishlist.fish
wl-mirror.fish
woeusb.fish
xargs.fish
xbacklight.fish
xclip.fish
xdotool.fish
xonsh.fish
xzcat.fish
xz.fish
yarn.fish
yay.fish
yes.fish
yj.fish
youtube-dl.fish
yt-dlp.fish
zathura.fish
zcat.fish
zip.fish
zoxide.fish
