/* ####################################################### */
/* ### This entire file is managed entirely by wallust ### */
/* ####################################################### */

* {
  font-family: "Mononoki Nerd Font", monospace;
  font-size: 16px;
  /* font-size: 15px; */
  /* font-family: "CodeNewRoman Nerd Font Propo"; */
}

window#waybar {
  all: unset;
}

.modules-left {
  padding: 7px;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 10px;
  border-radius: 10px;
  background: alpha(#010607, .6);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}

.modules-center {
  padding: 7px;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
  border-radius: 10px;
  background: alpha(#010607, .6);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
  min-width: 150.5px;
}

.modules-right {
  padding: 7px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 5px;
  margin-left: 0px;
  border-radius: 10px;
  background: alpha(#010607, 0.6);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, .6);
}

tooltip {
  background: #010607;
  color: #798184;
}

#custom-terminal:hover,
#clock:hover,
#custom-pacman:hover,
#custom-notification:hover,
#mpris:hover,
#bluetooth:hover,
#pulseaudio:hover,
#network:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#temperature:hover {
  transition: all .3s ease;
  color: #545A5C;
}


#custom-terminal,
#custom-notification,
#custom-pacman,
#mpris
{
  padding: 0px 5px;
  transition: all .3s ease;
  color: #798184;

}

#clock {
  font-size: 16px;
  padding: 0px 5px;
  transition: all .3s ease;
  color: #798184;
}

#taskbar {
    all: unset;
    padding: 0px 4px;
    margin-top: 0px;
    margin-right: 8px;
    margin-bottom: 0px;
    margin-left: 0px;
    /* background: alpha(#010607, .6); */
    background: alpha(#010607, .0);
    border-radius: 0px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, .3);
}

#workspaces {
  padding: 0px 5px;
  text-shadow: none;
}

#taskbar button {
    all: unset;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 0px 4px;
    color: #798184;
    text-shadow: none;
    background: alpha(#010607, .0);
    border-radius: 25%;
    transition: all .3s;
    min-width: 18px;
}


#workspaces button {
  all: unset;
  margin-top: 0px;
  margin-right: 3px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding: 0px 2px;
  color: rgba(0, 0, 0, 0);
  text-shadow: none;
  background: #974D3D;
  border-radius: 50%;
  transition: all .3s;
  min-width: 15px;
}

#taskbar button:hover {
    color: rgba(0, 0, 0, 0);
    border: none;
    background: #974D3D;
}

#workspaces button:hover {
  color: rgba(0, 0, 0, 0);
  border: none;
  background: #798184;
}

#workspaces button.active {
  border: none;
  padding: 0px 2px;
  border-radius: 10px;
  background-color: #798184;
  min-width: 30px;
}

#workspaces button.active:hover {
  background: #974D3D;
}

#workspaces button.empty {
  color: transparent;
  border: none;
  background: alpha(#010607, .5);
}

#workspaces button.empty:hover {
  color: rgba(0, 0, 0, 0);
  border: none;
  text-shadow: 0px 0px 1.5px rgba(0, 0, 0, .5);
}

#workspaces button.empty.active {
  color: rgba(0, 0, 0, 0);
  border: none;
  text-shadow: none;
  background: #545A5C;
}

#workspaces button.empty.active:hover {
  background: #545A5C;
}


#pulseaudio,
#bluetooth,
#network,
#battery
{
  padding: 0px 5px;
  transition: all .3s ease;
  color: #798184;
}

#battery.charging {
  color: #26A65B;
}

#battery.warning:not(.charging) {
  color: #ffbe61;
}

#battery.critical:not(.charging) {
  color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#group-expand {
  padding: 0px 5px;
  transition: all .3s ease;
}

#custom-expand {
  padding: 0px 5px;
  color: alpha(#A7ADAE, .2);
  text-shadow: 0px 0px 2px rgba(0, 0, 0, .7);
  transition: all .3s ease;
}

#custom-expand:hover {
  color: rgba(255, 255, 255, .2);
  text-shadow: 0px 0px 2px rgba(255, 255, 255, .5);
}

#custom-colorpicker {
  padding: 0px 5px;
}

#cpu,
#memory,
#temperature {
  padding: 0px 5px;
  transition: all .3s ease;
  color: #798184;
}


#custom-endpoint {
  color: transparent;
  text-shadow: 0px 0px 1.5px rgba(0, 0, 0, 1);
}

#tray {
  padding: 0px 5px;
  transition: all .3s ease;
}

#tray menu * {
  padding: 0px 5px;
  transition: all .3s ease;
}

#tray menu separator {
  padding: 0px 5px;
  transition: all .3s ease;
}
