/* ####################################################### */
/* ### This entire file is managed entirely by wallust ### */
/* ####################################################### */

* {
  all: unset;
  /* font-family: 'CodeNewRoman Nerd Font Mono', monospace; */
  /* font-size: 18px; */
  font-size: 16px;
  font-family: "Mononoki Nerd Font", monospace;
  outline: none;
  border: none;
  text-shadow: none;
  background-color: transparent;
}

window {
  all: unset;
  padding: 20px;
  border-radius: 0px;
  background-color: 070A0BCC;
}

#inner-box {
  margin: 2px;
  padding: 4px;
  border: none;
}

#outer-box {
  border: none;
}

#scroll {
  margin: 0px;
  padding: 12px;
  border: none;
}

#input {
  all: unset;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  padding: 20px;
  border: none;
  outline: none;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
  border-radius: 10px;
  background-color: 070A0B33;
  color: #ADB2B2;
}

/* magnifying class on input box */
#input image {
  border: none;
  padding-right: 10px;
}

#input * {
  border: none;
  outline: none;

}

#input:focus {
  outline: none;
  border: none;
  border-radius: 10px;
}

#text {
  margin: 4px;
  border: none;
  outline: none;
  color: #ADB2B2;
}

/* List items being searched */
#entry {
  border: none;
  margin: 4px;
  padding: 10px;
}

#entry arrow {
  border: none;
  color: #828889;
}

#entry:selected {
  box-shadow: 1px 1px 4px rgba(255, 255, 255, .8);
  border: none;
  border-radius: 20px;
  border-color: transparent;
  background-color: transparent;
  /* background-color: alpha(transparent, 0.7); */
}

#entry:selected #text {
  color: #B8C6C4;
}

#entry:drop(active) {
  background-color: #5B5F60;
}
