// set vim: ft=kdl tabstop=4 shiftwidth=4 expandtab
//
//
// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://yalter.github.io/niri/Configuration:-Introduction

include "./configs/env.kdl"

// Uncomment this line to ask the clients to omit their client-side decorations if possible.
// If the client will specifically ask for CSD, the request will be honored.
// Additionally, clients will be informed that they are tiled, removing some client-side rounded corners.
// This option will also fix border/focus ring drawing behind some semitransparent windows.
// After enabling or disabling this, you need to restart the apps for this to take effect.
prefer-no-csd

// Add lines like this to spawn processes at startup.
// Note that running niri as a session supports xdg-desktop-autostart,
// which may be more convenient to use.
// See the binds section below for more spawn examples.

// This line starts waybar, a commonly used bar for Wayland compositors.
spawn-at-startup "udiskie -n -t -m flat"
// spawn-at-startup "waybar"
// spawn-at-startup "swaync"
// spawn-at-startup "swww-daemon"
// spawn-at-startup "swaync-client -df"
// spawn-at-startup "swww --restore"
// spawn-at-startup "hypridle"
spawn-at-startup "ghostty"
// spawn-at-startup "signal-desktop"

// Output "Samsung Electric Company LS49AG95 HNTTB00033" (DP-1)
include "./configs/output.kdl"

// Input device configuration.
// Find the full list of options on the wiki:
// https://yalter.github.io/niri/Configuration:-Input

include "./configs/cursor.kdl"
include "./configs/gestures.kdl"
include "./configs/input.kdl"
include "./configs/layer.kdl"
include "./configs/layout.kdl"
include "./configs/misc.kdl"
include "./configs/overview.kdl"
include "./configs/windows.kdl"

// To run a shell command (with variables, pipes, etc.), use spawn-sh-at-startup:
// spawn-sh-at-startup "qs -c ~/source/qs/MyAwesomeShell"

// You can also set this to null to disable saving screenshots to disk.
// screenshot-path null

include "./configs/animations.kdl"
include "./configs/binds.kdl"

include "./dms/binds.kdl"

///// only if ghostty is the 'thing' that's focused on the initial startup call stack
spawn-sh-at-startup "niri msg action focus-workspace \"main\""
