.prev*/**/*
_*
_*/
_*/**/*
og_*
OG_*

*-colors.*

.old_as_ref/
.old_as_ref/*

./dms/colors
dms/colors


./shared/.colors
./shared/rules/CONSOLIDATION_NOTES.md

shared/.colors
shared/rules/CONSOLIDATION_NOTES.md

